/ {
    trackpoint: trackpoint {
        compatible = "zmk,input-mouse-ps2";
        /* Datenleitungen wie auf deinem Foto: P0.06 und P0.08 */
        data-gpios = <&gpio0 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        clock-gpios = <&gpio0 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
    };

    trackpoint_listener {
        compatible = "zmk,input-listener";
        device = <&trackpoint>;
    };
};
