manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
  projects:
    - name: zmk
      remote: zmkfirmware
      revision: 3954602f23237191147071f6a1d8249814470d01 # Stand vom 31. Jan 2025 (Stabil)
      import: app/west.yml
  self:
    path: config
