manifest:
  remotes:
    - name: caksoylar
      url-base: https://github.com/caksoylar
  projects:
    - name: zmk
      remote: caksoylar
      revision: v0.3-mouse-pointing # Das ist der "fertige" Zweig
      import: app/west.yml
  self:
    path: config
