manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
  projects:
    - name: zmk
      remote: zmkfirmware
      revision: 489953288a87693248386f6a70a8d6e32152843b # Stand vor dem Pillbug-Fehler
      import: app/west.yml
  self:
    path: config
