name: Draw ZMK keymap
on:
  workflow_dispatch:
  push:
    paths:
      - "config/*.keymap"

jobs:
  draw:
    uses: caksoylar/keymap-drawer/.github/workflows/draw-zmk.yml@main
    with:
      keymap_file: "config/splitkb-aurora-corne.keymap"
      output_prefix: "img/corne"
      # Dieser Teil ist entscheidend:
      commit_message: "Update keymap graphics [skip ci]"
